*{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color:whitesmoke;
  background: linear-gradient(35deg,#CCFFFF,#FFCCCC);
  color:darkblue;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.container{
  width:50%;
  height:auto;
  box-shadow: 25px 10px 10px 10px green;
  text-align: center;
  position: relative;
}
input[type=checkbox] { 
  padding:10px 0px 15px 0px;
} 